<div class='menu'>
    <p style="color: white; text-align: center; font-size: 30px;">{{titulo}}</p>
    <ul style="list-style-type: none;">
        <li routerLinkActive="active"><a style="text-decoration: none;" [routerLink]="['/aphelios']">Novo Campeão: Aphelios</a></li><br>
        <li routerLinkActive="active"><a style="text-decoration: none;" [routerLink]="['/treeline']">Mapa Removido: Twisted Treeline</a></li><br>
        <li routerLinkActive="active"><a style="text-decoration: none;" [routerLink]="['/bestofpatch']">Melhores do Patch</a></li>
    </ul>

</div>
