<div class="gambi">
    <h1>Novo Campeão Revelado: Aphelios</h1>
    <br><br>
    <p>
        Com o fim da nona temporada competitiva de League of Legends,
     a Riot Games anunciou seu 147º Campeão, 
     Aphelios, 
     também chamado de "a arma dos devotos".
    </p>
    <p>
        O personagem tem uma irmã gêmea, 
    Alune, e juntos, 
    eles são conhecidos como os "filhos do destino" por quem seguia a religião Lunari de Targon.
    </p>

    <p>
    Além disso, em sua descrição é dito que Aphelio recebeu o dom físico da pedra da lua e 
    Alune ganhou dotes mágicos e se tornou um reflexo espiritual do irmão.
    </p>
</div>