<div class="gambi">
        <h1>Mapa Removido: Twisted Treeline</h1>
        <br><br>
        <p>
            No dia 31 de Julho de 2019, a Riot Games anunciou que o modo Twisted Treeline 
        de League of Legends será retirado do jogo no fim da temporada atual do MOBA.
        </p>
        <p>
            Segundo o Rioter Stephen “Mort” Mortimer, o números de jogadores de TT tem sido cada vez menor, mesmo com eventuais novos itens, 
        balanceamento de campeões e com o redesign feito em 2012. Devido a isto, o modo foi removido do jogo.
        </p>
    </div>